{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<!-- onchange="this.form.submit() -->
 <div class="content-wrapper"> 
  <div class="content-header sty-one">
    <!-- <h1 class="text-black">Select Course Type</h1> -->
    <div class="row">
      <div class="col-lg-2">
        <!-- <form action="{% url 'studentList' %}" id="formid" method="post">
          {% csrf_token %}
        <select class="form-control" id="myselect" name="myselect">
          <option value="" hidden>Select Course Here</option>
          <option value="All">All</option>
          <option value="ADCA">ADCA</option>
          <option value="CCC">CCC</option>
          <option value="BCA">BCA</option>
        </select>
      </form> -->
      </div>
    </div>
    <ol class="breadcrumb">
      <li><a href="{% url 'exportStudentList' %}" class="btn btn-primary" style="color: rgb(249, 249, 252);"><i class="fa fa-check"></i> Export Student List</a></li>
    </ol>
  </div>

  <!-- Main content -->
  <div class="content">

    <div class="info-box">
      <h4 class="text-black">Student Payment</h4>
      <p>With Full Features</p>
      <div class="table-responsive">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Father Name</th>
              <th>Phone</th>
              <th>Course</th>
              <th>Payment</th>
              <th>Payment Status</th>
              <th>Action</th>
              

            </tr>
          </thead>
          <tbody>
            {% for student in student_list %}
            <tr>

              <td>{{ student.name | title}}</td>
              <td>{{ student.fatherName }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.course }}</td>
              <td>{{ student.fees }}</td>

            <td>
                {% if student.feesStatus %}
                <span class="label label-success">Paid</span> 
                {% else %}
                <span class="label label-danger">Pending</span>
                 
                {% endif %}
            </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Father Name</th>
              <th>Phone</th>
              <th>Course</th>
              <th>Payment</th>
              <th>Payment Status</th>
              <th>Action</th>
              
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>

<!-- view model -->

<button type="button" class="btn btn-primary" id="viewclick" data-toggle="modal" data-target=".viewstudentdetail" hidden></button>

<div class="modal fade bd-example-modal-lg viewstudentdetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Student Detail</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Student Name</label>
            <input type="text" class="form-control" id="studentname" placeholder="Student Name" readonly>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Student Father Name</label>
            <input type="text" class="form-control" id="studentfathername" placeholder="Father Name" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Student Email</label>
            <input type="text" class="form-control" id="studentemail" placeholder="Student Name" readonly>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Student Number</label>
            <input type="text" class="form-control" id="studentnumber" placeholder="Father Name" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Student Address</label>
          <input type="text" class="form-control" id="studentaddress" placeholder="1234 Main St" readonly>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Student Adharnumber</label>
            <input type="text" class="form-control" id="studentadharnumber" readonly>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Student Course</label>
            <input type="text" class="form-control" id="studentcourse" readonly>

          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Student Fees</label>
            <input type="text" class="form-control" id="studentfees" readonly>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->
        <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
</div>
</div>

<!-- end view model -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="editclick" data-toggle="modal" data-target=".editstudentdetail"></button>

  <div class="modal fade bd-example-modal-lg editstudentdetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Student Name</label>
              <input type="text" class="form-control" id="editstudentname" placeholder="Student Name" >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Student Father Name</label>
              <input type="text" class="form-control" id="studentfathername" placeholder="Father Name" >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Student Email</label>
              <input type="text" class="form-control" id="editstudentemail" placeholder="Student Name" >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Student Number</label>
              <input type="text" class="form-control" id="editstudentnumber" placeholder="Father Name" >
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Student Address</label>
            <input type="text" class="form-control" id="editstudentaddress" placeholder="1234 Main St" >
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Student Adharnumber</label>
              <input type="text" class="form-control" id="studentadharnumber" >
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Student Course</label>
              <input type="text" class="form-control" id="studentcourse" >
  
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Student Fees</label>
              <input type="text" class="form-control" id="studentfees" >
            </div>
          </div>
          <input type="hidden" name="updatestudentid" id="updatestudentid" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="updateStudent" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
{% endblock %}